<?xml version="1.0"?>
<robot name="open_manipulator_x" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find open_manipulator_x_description)/urdf/open_manipulator_x.xacro" />
  <xacro:include filename="$(find open_manipulator_x_description)/urdf/open_manipulator_x.ros2_control_gazebo.xacro" />

  <link name="world"/>

  <xacro:open_manipulator_x parent="world">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:open_manipulator_x>

  <xacro:open_manipulator_x_ros2_control name="open_manipulator_x_ros2_control" />
</robot>
