<?xml version="1.0"?>
<robot name="pantilt_bot" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find pantilt_bot_description)/urdf/pantilt_bot.xacro" />
  <xacro:include filename="$(find pantilt_bot_description)/urdf/pantilt_bot.ros2_control.xacro" />
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />

  <link name="world"/>

  <xacro:pantilt_bot parent="world">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:pantilt_bot>

  <xacro:sensor_d435 parent="joint2_horn_link" use_nominal_extrinsics="true" add_plug="false">
    <origin xyz="-0.0125 -0.019 0.065" rpy="0 -1.5708 3.1416"/>
  </xacro:sensor_d435>

  <xacro:pantilt_bot_ros2_control name="pantilt_bot_ros2_control" />
</robot>
